{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Books</title>
    <link rel="stylesheet" href="{% static 'css/addbooks.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" style="font-size: 32px;">ReadVenture</a>
        </nav>
        <nav>
            <a href="{% url 'home' %}" style="color: rgb(217, 196, 255);">HOME</a>
            <a href="{% url 'mybooks' %}">MY BOOKS</a>
            <a href="{% url 'wishlist' %}">WISHLIST</a>
            <a href="{% url 'borrowed' %}">BORROWED</a>
            <a href="{% url 'profile' %}" style="margin-right: 20px;">PROFILE</a>
        </nav>
    </header>

    <div class="container" style="background-image: url(/static/images/home.jpg);background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
        <div class="card">
            <div class="info">
                <span>Enter Book Info:</span>
            </div>
            <div class="content">
                <form method="post" action="{% url 'addbooks' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
            
                    <label for="author">Author:</label>
                    <input type="text" id="author" name="author" required>
            
                    <label for="isbn">ISBN:</label>
                    <input type="text" id="isbn" name="isbn" required>
            
                    <label for="genre">Genre:</label>
                    <input type="text" id="genre" name="genre" required>
            
                    <label for="category">Category:</label>
                    <input type="text" id="category" name="category" required>
            
                    <label for="cover_photo">Cover Photo:</label>
                    <input type="file" id="cover_photo" name="cover_photo" accept="image/*" required>
            
                    <label for="language">Language:</label>
                    <input type="text" id="language" name="language" required>

                    <label for="language">Condition:</label>
                    <input type="text" id="condition" name="condition" required>
                    <!-- Add other fields as needed -->
            
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
