{% extends 'readventure/base.html' %}
{% load static %}

{% block title %}
    My Books
{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'css/mybooks.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block background_image %}
    /static/images/{{ background_image }}
{% endblock %}

{% block content %}
    <section class="lower">
        <div>
            <a href="{% url 'addbooks' %}">
                <button>Add Books</button>
            </a>
            
        </div>        
        <div id="bookContainer">
            {% for book in user_books %}
                
                    <div class="book">
                        <form method="post" action="{% url 'remove_book' book.book_id %}">
                            {% csrf_token %}
                            <img src="{{ book.cover_photo.url }}" alt="{{ book.title }} Cover">
                            <h2>Title: {{ book.title }}</h2>
                            <p>Author: {{ book.author }}</p>
                            <p>Genre: {{ book.genre }}</p>
                            <p>Category: {{ book.category }}</p>
                            <p>Language: {{ book.language }}</p>
                            <p>ISBN: {{ book.isbn }}</p>
                            <button type="submit">Remove Book</button>

                        </form>                        
                    </div>
                
            {% endfor %}
        </div>
    </section>
{% endblock %}