{% extends 'readventure/base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block background_image %}
    /static/images/{{ background_image }}
{% endblock %}

{% block content %}

    <div class="container" style="background-image: url(/static/images/m.jpg);">
        <div class="card" style="background-color:rgba(96, 238, 191, 0.491);">
            <div class="info" style="background-color: rgb(32, 118, 118);">
                <span>Profile Info</span>
            </div>
            <div class="content">
                <div class="forms">
                    <div class="inputs">
                        <span><b>First Name</b></span>
                        <input type="text" readonly value="{{ user.first_name }}">
                    </div>
                    <div class="inputs">
                        <span><b>Last Name</b></span>
                        <input type="text" readonly value="{{ user.last_name }}">
                    </div>
                    <div class="inputs">
                        <span><b>Email</b></span>
                        <input type="email" readonly value="{{ user.email }}">
                    </div>
                    <div class="inputs">
                        <span><b>Student ID</b></span>
                        <input type="text" readonly value="{{ user.student_id }}">
                    </div>
                    <div class="inputs">
                        <span><b>Contact No.</b></span>
                        <input type="text" readonly value="{{ user.contact_no }}">
                    </div>              
                </div>
                <div class="image-container">
                    <div class="inputs">
                        <span>Profile Picture</span>
                        {% if user.profile_picture %}
                            <img id="profilePicture" src="{{ user.profile_picture.url }}" alt="Profile Picture" style="max-width: 100%; height: auto; border-radius: 5px;">
                        {% else %}
                            <img id="profilePicture" src="{% static 'images/profile.jpg' %}" alt="Default Profile Picture" style="max-width: 100%; height: auto; border-radius: 5px;">
                        {% endif %}
                        <div id="profilePictureInput" class="file-input-container">
                            <!-- <input type="file" id="fileInput" accept="image/*" class="file-input" /> -->
                            <!-- <label for="fileInput" class="file-label">Update Photo</label> -->
                            <label for="fileInput" class="file-label"><a href="{% url 'update_user' %}">Update Profile</a></label>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}