{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  

  <title>profile</title>
  <link rel="stylesheet" href="{% static 'css/dp.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'images/favicon.ico' %}">

  <script>
    var loadFile = function (event) {
    var image = document.getElementById("output");
    image.src = URL.createObjectURL(event.target.files[0]);
    };
  </script>
</head>
<body>
  <div class="wrapper" style="background-image: url('/static/images/img6.jpg');">
    <div class="innerx">
        <h1 class="text">Upload Your Profile Picture</h1>
        <img class="img" src="{% static 'images/profile.jpg' %}" id="output" width="200" />
        <label class="label" for="file">
          <span class="glyphicon glyphicon-camera"></span>
          <span>Change Image</span>
        </label>
        <input id="file" type="file" onchange="loadFile(event)"/>
        <button class="buttons"><h3>Next Page</h1></button>
    </div>
  </div>
  
</body>
</html>