{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>ReadVenture || Sign-Up ⁠(⁠◕⁠ᴗ⁠◕⁠) </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" href="{% static 'css/signup.css' %}">
		<link rel="icon" href="{% static 'icon/favicon.ico' %}">	
		<link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">		
	</head>

	<body>

		<div class="wrapper" style="background-image: url('/static/images/peakpx.jpg');">
			<div class="inner">
				<div class="image-holder">
				  <img src="{% static 'images/img1.jpg' %}" alt="">
				</div>
				<form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<!-- {% if error_message %}
						<p style="color: red;">{{ error_message }}</p>
					{% endif %} -->
					<div class="form-group">
						<input type="text" name="first_name" placeholder="First Name" class="form-control">
						<input type="text" name="last_name" placeholder="Last Name" class="form-control">
					</div>
					<div class="form-wrapper">
						<input type="text" name="student_id" placeholder="Student ID" class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" name="email" placeholder="Email Address" class="form-control">
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" name="contact_no" placeholder="Contact No." class="form-control">
					</div>
					<div class="form-wrapper">
						<input type="password" name="password1" placeholder="Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" name="password2" placeholder="Confirm Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<label for="id_profile_picture">Upload Picture:</label>
						<input type="file" name="profile_picture" placeholder="Upload File" class="form-control">
					</div>
					<button type="submit">Create Account ⁠(⁠◕⁠ᴗ⁠◕⁠) <i class="zmdi zmdi-arrow-right"></i></button>
				</form>
				{% if errors %}
				<div class="alert alert-danger mt-3">
				  <strong>Error:</strong> Please fix the errors below.
				  <ul>
					{% for error_list in errors %}
					  {% for error in error_list %}
						<li>{{ error }}</li>
					  {% endfor %}
					{% endfor %}
				  </ul>
				</div>
			  {% endif %}	
			</div>
		</div>
		
	</body>
</html>