{% extends 'readventure/base.html' %}
{% load static %}

{% block title %}
    Book Requests
{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
{% endblock %}

{% block background_image %}
    /static/images/{{ background_image }}
{% endblock %}

{% block content %}
    <section class="lower" style="background-image: url(/static/images/d.jpg);">
        <!-- Display user's books -->
        <div id="bookContainer">
            {% for book in user.wishlist.all %}
                <div class="book">
                    <form method="post" action="{% url 'remove_from_wishlist' book.book_id %}">
                        {% csrf_token %}
                        <img src="{{ book.cover_photo.url }}" alt="{{ book.title }} Cover">
                        <h2>Title: {{ book.title }}</h2>
                        <p>Author: {{ book.author }}</p>
                        <p>Genre: {{ book.genre }}</p>
                        <p>Category: {{ book.category }}</p>
                        <p>Language: {{ book.language }}</p>
                        <p>ISBN: {{ book.isbn }}</p>

                        <!-- Add a form for removing the book from wishlist -->
                        
                        <button type="submit">Remove </button>
                        </form>
                    </div>
                {% endfor %}
            </div>

    
    </section>
{% endblock %}