{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>

    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
    <link rel="icon" href="{% static 'icon/favicon.ico' %}">
</head>
<body>

    <header>
        <nav><a href="{% url 'home' %}" style="font-size: 32px;">ReadVenture</a></nav>
        <nav>
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'mybooks' %}">MY BOOKS</a>
            <a href="{% url 'wishlist' %}" style="color: rgb(217, 196, 255);">WISHLIST</a>
            <a href="{% url 'borrowed' %}">BORROWED</a>
            <a href="{% url 'profile' %}" style="margin-right: 20px;">PROFILE</a>
        </nav>
    </header>
    <section class="lower" style="background-image: url(/static/images/booklist.jpg);">
       

        <!-- Display user's books -->
        <div id="bookContainer">
            {% for book in user.wishlist.all %}
                <div class="book">
                    <img src="{{ book.cover_photo.url }}" alt="{{ book.title }} Cover">
                    <h2>Title: {{ book.title }}</h2>
                    <p>Author: {{ book.author }}</p>
                    <p>Genre: {{ book.genre }}</p>
                    <p>Category: {{ book.category }}</p>
                    <p>Language: {{ book.language }}</p>
                    <p>ISBN: {{ book.isbn }}</p>
                </div>
            {% endfor %}
        </div>
        
    </section>

</body>
</html>
